.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  font-family: var(--poppins);
}

/* Size */
.sm {
  padding: 6px 12px;
  font-size: 9pt;
}

.md {
  padding: 8px 16px;
  font-size: 10pt;
}

.lg {
  padding: 12px 24px;
  font-size: 1.125rem;
}

/* Solid Variants */
.solid-primary {
  background-color: #DA7629;
  color: white;
}

.solid-primary:hover {
  background-color: #884410;
}

.solid-secondary {
  background-color: black;
  color: white;
}

.solid-secondary:hover {
  background-color: #96521e;
}

.solid-danger {
  background-color: #dc2626;
  color: white;
}

.solid-danger:hover {
  background-color: #b91c1c;
}

.solid-tersier{
  background-color: #2947a7;
}

.solid-tersier:hover{
  background-color: #1e40af;
}

/* Outline */
.outline-primary {
  background: transparent;
  border: 1.2px solid #DA7629;
  color: #DA7629;
}

.outline-primary:hover {
  background-color: #DA7629;
  color: white;
}

.outline-secondary {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.outline-secondary:hover {
  background-color: black;
  color: white;
}

.outline-danger {
  background: transparent;
  border: 1px solid rgb(177, 2, 2);
  color: rgb(177, 2, 2);
}

.outline-danger:hover {
  background-color: rgb(177, 2, 2);
  color: white;
}

/* Ghost */
.ghost-primary {
  background: transparent;
  color: #1e40af;
}

.ghost-primary:hover {
  background-color: grey;
}

.ghost-secondary:hover {
  background-color: rgb(220, 220, 220);
}

.ghost-tersier{
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.iconLeft{
  margin-right: 5pt;
}

/* Spinner */
.spinner {
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
