.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  font-family: var(--poppins);
}

.label {
  font-size: 10px;
  color: #333;
  font-weight: 500;
}

/* Variants */
.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: all 0.2s ease;
  padding: 0pt 5pt;
}

.outline {
  border: 1.5px solid #232323;
  background-color: none;
}

.solid {
  background-color: #f3f4f6;
  border: none;
}

.ghost {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
}

/* Colors */
.primary:focus-within {
  border-color: #DA7629;
}

.danger:focus-within {
  border-color: #dc2626;
}

.gray:focus-within {
  border-color: #9ca3af;
}

/* Input */
.input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 9pt;
  color: #111;
  font-family: var(--poppins);
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.input::placeholder {
  color: rgba(0,0,0,0.5);
  font-family: var(--poppins);
  font-size: 9pt;
}

.ghost .input {
  color: white; 
  padding-left: 10px;
}

.ghost .input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.medium .input{
  padding: 5px;
}

/* Icons */
.iconLeft {
  margin-right: 8px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #666;
}

.iconRight {
  margin-left: 8px;
  margin-right: 5px;
  color: #666;
}

/* Error */
.error {
  border-color: #dc2626 !important;
}

.errorMessage {
  color: #dc2626;
  font-size: 12px;
}