.container{
    display: flex;
    flex-direction: column;
    padding-left: 25pt;
    padding-right: 25pt;
    color: white;
}

.container .desc{
    color: rgba(255, 255, 255, 0.6);
    font-size: 9pt;
    margin-top: 5pt;
    margin-bottom: 10pt;
}

.container h4{
    font-size: 11pt;
}

.card{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8pt 15pt;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 10pt;
    justify-content: space-between;
    border-radius: 10pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.save{
    display: flex;
    flex-direction: column;;
}

.edit{
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10pt;
}

.after{
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    font-size: 8pt;
    color: #DA7629;
}

.selected{
    display: flex;
    align-items: center;
    gap: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;
    padding: 3pt 8pt;
    border: 1.3px solid #DA7629;
    border-radius: 25pt;
}

.all{
    display: flex;
    align-items: center;
    margin-left: 5pt;
}

.action{
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    gap: 10pt;
}

.trash {
  cursor: pointer; 
  position: relative; 
}

.trash:hover svg {
  color: #DA7629; 
  transition: color 0.3s ease;
}

.trash::after{
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 9pt;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.trash:hover::after {
  opacity: 1;
}

.back{
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10pt;
}

.flag{
    color: #DA7629;
    font-size: 8pt;
    font-weight: 500;
    padding: 2px 6px;
    border: 1px solid #DA7629;
    border-radius: 5px;
}

.gap{
    margin-top: 10pt;
}