.background{
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-top-right-radius: 30pt;
    border-bottom-right-radius: 30pt;
    padding: 20pt 15pt;
    transition: transform 0.5s ease-in-out;
    min-width: 15%;
    min-height: 100vh;
    position: sticky;
}

.link{
    text-decoration: none;
}

.person{
  margin-bottom: 0;
  margin-top: auto;
}

@media (max-width: 768px) {
  .background {
    transform: translateX(-125%);
  }
}